<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--WEB BROWSER OPTIONS:      
        (IE) (FIREFOX) (CHROME) (PhantomJS) -->
    <add key ="Browser" value="" />

    <!--SCREEN RESOLUTION OPTIONS:    
        (Maximize) (Phone) (iPad) (1600, 900) (1280, 720) -->
    <add key ="ScreenSize" value="" />

    <!--PROJECT URL-->
    <add key ="URL" value="" />

    <!--ACCESS CODE-->
    <add key ="Access" value="" />

    <!--VERIFY CODE-->
    <add key ="Verify" value="" />

    <!--TEST REPORT PATH-->
    <add key ="ReportPath" value="..\..\..\TestReports\" />

    <!--READ EXCEL PATH-->
    <add key ="ExcelPath" value="" />

  </appSettings>
</configuration>